# DB
MONGO_URI=mongodb+srv://<DbName>:<DbPassword>@cluster0.dwqhu93.mongodb.net/?appName=Cluster0

# PORT
PORT=3000

JWT_SECRET=""
JWT_SECRET_EXPIRES_IN=""
REFRESH_TOKEN_SECRET=""
REFRESH_TOKEN_EXPIRY=""

REFRESH_TOKEN_SECRET=""
REFRESH_TOKEN_EXPIRY=""


# mailServices
MAILTRAP_SMTP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_SMTP_PORT=2525
MAILTRAP_SMTP_USER=matches what's in sandbox settings
MAILTRAP_SMTP_PASS=matches what's in sandbox settings

# OAuth-Google
GOOGLE_CLIENT_ID=123456789-abc.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-xxxxxxxxxxxxxx
GOOGLE_CALLBACK_URL=http://localhost:8000/api/v1/auth/google/callback